nav ul a,
nav .brand-logo {
  color: white;
}
.snippets{
	padding:50px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 570px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.fa
{
	color:#ec407a;
}
footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 
 @media only screen and (max-width : 600px) {
 
}
 nav a.button-collapse
 {
 	color:white;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.mLogo{
	   -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 100px/1 "arizonia", Helvetica, sans-serif;
 
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.titleFont
{
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 76px/1 "Berkshire Swash", Helvetica, sans-serif;
  
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.subTitleFont
{
	 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 30px/1 "Bad Script", Helvetica, sans-serif;

  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.introHead
{
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 46px/1 "Aclonica", Helvetica, sans-serif;
 
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
